.ecriture_articles{
    margin-left: 20%;
}
.ecriture_articles textarea{
    width: 700px;
    height: 500px;
    border-radius: 10px;
}
.afficheArticles{
    margin-left: 20%;
}
.text img{
    height: 150px;
}
.edition_articles{
    margin-left: 20%;
}
.edition_articles textarea{
    width: 700px;
    height: 300px;
    border-radius: 10px;
}
.container{
    height: auto !important;
}
