@font-face {
	font-family: 'Milasian Bold';
	src: url('../fonts/milasian/MilasianCircaBoldPERSONAL.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Milasian Medium';
	src: url('../fonts/milasian/MilasianCircaMediumPERSONAL.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Milasian Thin';
	src: url('../fonts/milasian/MilasianCircaThinPERSONAL.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
