
/* STATISTIQUES */

div.stats{
	width: calc(100% - 40px);
	padding: 20px;
	background-color: rgba(20,20,20,0.3);
	border-radius: 16px;
	margin-bottom: 60px;
}
div.stats ul { list-style: none; padding: 0px; margin: 0px; }
div.stats .percent {
    display: block; 
    height: 28px;
    line-height: 28px;
    margin: 5px 0px;
    margin-bottom: 20px;
    text-align: right;
    color: #222;
    font-weight: bold;
    font-family: monospace; 
    border-radius: 20px;
    cursor: default;
}
.v100 { width: 100%; }
.v90 { width: 90%; }
.v80 { width: 80%; }
.v70 { width: 70%; }
.v60 { width: 60%; }
.v50 { width: 50%; }
.v40 { width: 40%; }
.v30 { width: 30%; }
.v20 { width: 20%; }
.v10 { width: 10%; }

/* Multicolore */
.multicolor .v100 { background: #85FF62; }
.multicolor .v90 { background: #AFFF5F; }
.multicolor .v80 { background: #C0FF5A; }
.multicolor .v70 { background: #DFFF5B; }
.multicolor .v60 { background: #FFFE5D; }
.multicolor .v50 { background: #FFF663; }
.multicolor .v40 { background: #FFC36B; }
.multicolor .v30 { background: #FF9D73; }
.multicolor .v20 { background: #FF8270; }
.multicolor .v10 { background: #FF706D; }