html, body {
	padding: 0px;
	margin: 0px;
	background-color: #EEE;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	color: #FFF;
}
a{
	color: inherit;
	text-decoration: none;
}

body{
	background-color: #000;
	background-image: url(../images/common/background.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	min-height: calc(100vh - 20px);
	top: 0px;
	padding-top: 20px;
}


.content.error404 h1{
	text-align: center;
	font-size: 50px;
	font-weight: bold !important;
	margin-top: 30px;
	margin-bottom: 0px;
}
.content.error404 p{
	text-align: center;
	font-style: italic;
	font-size: 30px;
	margin: 0px;
}
.container{
	height: calc(100vh - 40px);
	background-color: rgba(22,22,22,0.9);
	width: calc(100% - 40px);
	margin: 0 auto;
	border-radius: 30px;
	overflow: hidden;
	-moz-box-shadow: 0px 0px 15px 0px #000000;
-webkit-box-shadow: 0px 0px 15px 0px #000000;
-o-box-shadow: 0px 0px 15px 0px #000000;
box-shadow: 0px 0px 15px 0px #000000;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=20);
}

.top_header{
	background-color: rgba(20,20,20,1);
	padding: 10px 0px;
}
.top_header ul{
	display: inline-block;
	margin: 0px;
	vertical-align: top;
	margin-left: 60px;
}
.top_header ul li{
	display: inline-block;
	list-style: none;
	vertical-align: top;
	padding-top: 10px;
	margin-left: 20px;
}
.top_header ul li span{
	font-size: 18px;
	line-height: 20px;
	vertical-align: top;
}
.top_header ul li img{
	height: 20px;
	margin-right: 10px;
}
.top_header ul li a:hover span{
	text-decoration: underline;
}
.add_sur{
	color: #BBB;
}.add_sur:hover{
	text-decoration: underline;
}
.logo{
	display: inline-block;
}
.logo img{
	height: 40px;
	margin-left: 12px;
}
.admin_user{
	padding: 15px 20px;
	background-color: rgb(10,10,10);
	width: calc(100% - 40px);
}
.admin_user img, .admin_user p{
	display: inline-block;
	vertical-align: top;
}
.admin_user img{
	width: 60px;
	border-radius: 100%;
}
.admin_user p{
	margin: 0px;
	line-height: 52px;
	font-size: 18px;
	color: #AAA;
	padding-left: 10px;
}
.left_header{
	position: absolute;
	width: 220px;
	height: calc(100% - 104px);
	background-color: rgb(20,20,20);
	border-bottom-left-radius: 30px;
}
nav .menu, nav{
	padding: 0px;
	width: 100%;
	margin: 0px;
}
nav .menu{
	overflow: scroll;
	height: calc(100% - 90px);
}
nav .menu li{
	list-style: none;
	display: block;
	border-bottom: 2px solid #111;
}
nav .menu li a{
	width: 100%;
	display: block;
	padding: 15px;
}
nav .menu li a:hover{
	background-color: rgb(30,30,30);
}
.content{
	width: calc(100% - 260px);
	margin-left: 220px;
	padding: 20px;
	height: calc(100vh - 144px);
	overflow: scroll;
	-moz-box-shadow: inset 0px 0px 80px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0px 0px 80px 0px rgba(0,0,0,0.5);
	-o-box-shadow: inset 0px 0px 80px 0px rgba(0,0,0,0.5);
	box-shadow: inset 0px 0px 80px 0px rgba(0,0,0,0.5);
	filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(0,0,0,0.5), Direction=NaN, Strength=80);
}
.content h1{
	margin: 0px;
	font-weight: lighter;
	margin-bottom: 23px;
}

.push_dahboard{
	width: 100%;
}
.push_dahboard .push_container{
	float: left;
	width: 25%;
	padding-bottom: 20px;
}
.push_dahboard .push{
	background-color: rgb(30,30,30);
	border-radius: 20px;
	overflow: hidden;
	width: 325px;
	margin: 0 auto;
}
.push_dahboard .push h2{
	text-align: center;
	font-weight: lighter;
	font-size: 18px;
	background-color: rgb(15,15,15);
	margin: 0px;
	padding: 12px 0px;
}
.push ul{
	padding: 0px;
	margin: 0px;
	max-height: 207px;
	overflow: scroll;
}
.push ul li{
	list-style: none;
	display: block;
	border-bottom: 1px solid rgb(20,20,20);
}
.push ul li:last-child{
	border-bottom: none;
}
.push ul li a{
	width: calc(100% - 30px);
	display: block;
	padding: 15px;
}
#disconnect{
	float: right;

}
#disconnect img{
	width: 26px;
	margin-right: 20px;
	margin-top: 5px;
	cursor: pointer;
	opacity: 0.5;
}
#disconnect img:hover{
	opacity: 1;
}
.form_search{
	float: right;
	padding-top: 10px;
}
.admin input{
	display: inline-block;
	vertical-align: top;
	border: none;
}
.admin input[type="text"],

.admin input[type="password"],
.admin input[type="date"]{
	width: 300px;
	padding: 10px;
	color: #DDD;
	background-color: rgb(20,20,20);
}
.admin .form_search input[type="submit"]{
	width: 33px;
	height: 33px;
	padding: 0px;
	margin: 0px;
	border: none;
	background: none;
	background-image: url(../images/common/search.png);
	background-size: 25px;
	background-position: center;
	margin-top: 2px;
	margin-left: 2px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.admin_list{
	padding: 0px;
	margin: 0px;
	width: 100%;
	margin-top: 30px;
	background-color: rgb(20,20,20);
}
.admin_list li{
	list-style: none;
	width: 100%;
	display: block;
	border-bottom: 1px solid rgb(15,15,15);
}
.admin_list li:last-child{
	border-bottom: none;
}
.admin_list li a{
	width: calc(100% - 40px);
	display: block;
	padding: 15px 20px;
	font-size: 18px;
}

.admin_list li .img_container{
	display: inline-block;
	width: 55px;
	overflow: hidden;
	vertical-align: top;
}
.admin_list li .img_container img{
	height: 54px;
}
.admin_list li.with_photo a{
	width: calc(100% - 95px);
	display: inline-block;
	padding: 15px 20px;
	font-size: 18px;
	vertical-align: top;
}
.admin_list li a:hover{
	background-color: rgb(30,30,30);
}
.admin_list li a span{
	float: right;
	color: #666;
	font-size: 14px;
}
.pagination{
	float: right;
	margin: 10px 0px;
}
.pagination a{
	padding: 0px;
	margin: 0px;
}
.pagination span{
	display: inline-block;
	vertical-align: top;
}
.pagination span:first-child{
	line-height: 30px;
}
.pagination .link{
	background-color: rgba(255,255,255,0.1);
	height: 30px;
	width: 30px;
	margin-left: 15px;
	background-image: url(../images/common/arrow_left.png);
	background-size: 22px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.pagination .link:hover{
	background-color: rgba(255,255,255,0.2);
}
.pagination .link.next{
	background-image: url(../images/common/arrow_right.png);
}

.lineclear{
	clear: both;
	display: block;
	width: 100%;
}

form.element{
	width: calc(100% - 40px);
	background-color: rgb(23,23,23);
	padding: 20px;
}
form.element label{
	display: inline-block;
	width: 350px;
	vertical-align: top;
	margin-bottom: 20px;
}
form.element input[type="text"],
form.element input[type="password"],
form.element input[type="email"],
form.element input[type="date"],
ul.listing_artistes{
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: lighter;
	width: calc(100% - 420px);
}
form.element .thumbnail{
	width: 100px;
}
form.element img.cover{
	width: auto;
	max-width: calc(100% - 420px);
	margin-top: 10px;
}
form.element input.cover{
	margin-left: 400px;
	margin-top: 10px;
}
form.element textarea{
	width: calc(100% - 20px);
	max-width: calc(100% - 20px);
	margin-top: 10px;
	min-height: 250px;
	background-color: rgb(20,20,20);
	padding: 20px;
	color: #FFF;
	border: none;
	font-size: 16px;
	font-weight: lighter;
	margin-bottom: 20px;
}
form.element input[type="submit"]{
	text-align: center;
	display: block;
	margin: 40px auto;
	-moz-box-shadow: inset 0px 10px 20px 0px rgba(30,30,30,0.5);
	-webkit-box-shadow: inset 0px 10px 20px 0px rgba(30,30,30,0.5);
	-o-box-shadow: inset 0px 10px 20px 0px rgba(30,30,30,0.5);
	box-shadow: inset 0px 10px 20px 0px rgba(30,30,30,0.5);
	filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(30,30,30,0.5), Direction=180, Strength=20);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 28px;
	padding: 13px 40px;
	background-color: rgb(50,50,50);
	color: #FFF;
	text-transform: uppercase;
	font-size: 18px;
	cursor: pointer;
}
.admin_list.users .push_container{
	height: 100px;
	padding: 0px;
	background-color: rgb(20,20,20);
	margin-right: 20px;
	margin-bottom: 20px;
	border: none;
	overflow: hidden;
}
.admin_list.users .push_container.inactif{
	background-color: rgb(35,35,35);
}
.admin_list.users .push_container a{
	padding: 0px;
	margin: 0px;
	width: 100%;
	display: table;
	line-height: 100px;
}
.admin_list.users .push_container a:hover{
	background-color: rgb(25,25,25);
}
.admin_list.users .push_container.inactif a:hover{
	background-color: rgb(40,40,40);
}
.admin_list.users .push_container img{
	width: 100px;
	float: left;
}
.admin_list.users .push_container a span.name{
	width: calc(100% - 100px);
	display: table-cell;
	padding: 0px;
	line-height: 75px;
	text-align: center;
	font-size: 16px;
}
.admin_list.users .push_container a span.email{
	width: calc(100% - 100px);
	display: table-cell;
	padding: 0px;
	line-height: 25px;
	text-align: center;
	font-size: 12px;
}

@media (max-width: 1650px) {
	.push_dahboard .push_container{
		width: 33.33%;
	}
	.admin_list.users .push_container{
		width: calc(33.33% - 20px);
	}
}
@media (max-width: 1320px) {
	.push_dahboard .push_container{
		width: 50%;
	}
	.admin_list.users .push_container{
		width: calc(50% - 20px);
	}
}
@media (max-width: 980px) {
	.push_dahboard .push_container{
		width: 100%;
	}
	.admin_list.users .push_container{
		width: calc(100%);
		margin-right: 0px;
	}
}


/* PARTIE FORM */
.push_dahboard .valid, .push_dahboard .errors{
	border: 1px solid #85FF62;
	padding: 0px 20px;
	width: calc(100% - 40px);
	background-color: rgba(133, 255, 98, 0.1);
	margin-bottom: 20px;
}
.push_dahboard .errors{
	padding: 20px;
	border-color: #FF706D;
	background-color: rgba(255, 112, 109, 0.1);
}
.push_dahboard .errors ul{
	padding: 0px;
	margin: 0px;
}
.push_dahboard .errors li{
	list-style: none;
}

ul.listing_artistes{
	padding: 0px;
	display: inline-block;
	background-color: rgb(20, 20, 20);
	max-height: 300px;
	overflow: scroll;
	vertical-align: top;
	margin-bottom: 20px;
}
ul.listing_artistes li{
	list-style: none;
}
ul.listing_artistes li label{
	line-height: 42px;
	vertical-align: middle;
	padding: 0px 10px;
	width: calc(100% - 20px);
	margin: 0px;
}
ul.listing_artistes li label input{
	vertical-align: middle;
	margin-right: 10px;
}

#admin_form_pages input{
	margin-bottom: 10px;
}
#admin_form_pages .bloc{
	margin-bottom: 20px;
	background-color: rgba(60,60,60,0.1);
	padding: 20px;
	border: 1px solid #555;
}
#admin_form_pages .bloc.virgin{
	border-style: dashed;
}
#admin_form_pages .bloc img{
	max-width: 250px;
	margin-right: 20px;
}
#admin_form_pages .bloc a{
	font-size: 12px;
	text-decoration: underline;
}

input[type='text']{
	width: 100%;
}
div.inline{
	display: inline-block;
	vertical-align: top;

}

a.delete{
	padding: 15px;
	border: 1px solid red;
	border-color: #FF706D;
	background-color: rgba(255, 112, 109, 0.1);
	display: block;
}

.login_container{
	width: 450px;
	height: auto;
	padding: 20px;
	margin: 0 auto;
	margin-top: 80px;
	background-color: rgba(20,20,20,1);
	border-radius: 30px;
	box-shadow: 0px 0px 15px 0px #000000;
}
.login_container h1{
	text-align: center;
}

.login_container input{
	width: 100% !important;
	padding: 10px;
	margin-bottom: 20px;
	background-color: #222 !important;
	text-align: center;
	border-radius: 20px;
	border: 1px solid #111;
}
.login_container input[type="submit"]{
	background-color: #444 !important;
	text-transform: uppercase;
	cursor: pointer;
	padding: 16px;
	margin-bottom: 0px;
	border-radius: 28px;
	border: none;
	color: #FFF;
}
.login_container input[type="submit"]:hover{
	background-color: #555 !important;
}

.autocomplete_valid{
	margin-bottom: 10px;
    font-size: 16px;
    font-weight: lighter;
    width: calc(100% - 75px);
    color: #DDD;
    background-color: rgb(20,20,20);
    display: inline-block;
    padding: 5px;
    padding-bottom: 0px;
}
.autocomplete_valid.hidden{
    display: none;
}
.autocomplete_valid span{
	border-radius: 3px;
	background-color: rgba(80,80,80,0.1);
	padding: 0px 5px;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
	font-size: 13px;
	line-height: 20px;
	padding-right: 25px;
	cursor: pointer;
	background-image: url(../images/common/checkmark.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 20px 20px;
	border: 1px solid rgba(80,80,80,0.1);
	color: #999;
}
.autocomplete_valid span:hover{
	background-color: rgba(80,80,80,0.2);
}
.autocomplete_input_container{
	position: relative;
}
.autocomplete_input_container input{
	width: calc(100% - 65px) !important;
}
.autcomplete_list{
	position: absolute;
	background-color: rgba(0,0,0,1);
	margin-top: -10px;
	width: calc(100% - 420px);
	display: none;
}
.autcomplete_list .autcomplete_list_element{
	padding: 6px 10px;
	background-color: #111;
	border-bottom: 1px solid #000;
	cursor: pointer;
}
.autcomplete_list .autcomplete_list_element:hover{
	background-color: #222;
}
.autcomplete_list .autcomplete_list_element:last-child{
	border-bottom: none;
}

.mediatheque_list{
	width: 100%;
	padding: 10px;
	margin: 0 auto;
	text-align: center;
}
.mediatheque_list .img_container{
	height: 120px;
	width: 120px;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
	overflow: hidden;
	border: 1px solid #333;
}
.mediatheque_list .img_container.unused{
	border: 1px solid #FF706D;
}
.mediatheque_list .img_container a{
	height: 120px;
	width: 120px;
	display: inline-block;
}
p.red{
	color: #FF706D;
}
.mediatheque_list .img_container img{
	height: 100%;
	overflow: hidden;
	background-color: #FFF;
	width: auto;
}
.half_left{
	display: inline-block;
	width: 49%;
	float: left;
	margin-right: 1%;
}
.half_left img{
	max-width: 100%;
}
