
.artiste{
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #DDD;
  background-attachment: fixed;
}

.nameartiste{
  text-transform: uppercase;
  font-size: 120px;
  position: absolute;
  color: white;
  padding: 5px 20px;
  background-color: black;
  font-family: 'Roboto';
  bottom: 70px;
  right: 0%;
  font-weight: lighter;
  text-transform: uppercase;
}
.nameartiste.middle{
  font-size: 100px;
}
.nameartiste.minim{
  font-size: 90px;
}
.nameartiste.hardcore{
  font-size: 80px;
}

.artisteheader {
  background-color: #DDD;
}

.bioartiste {
  padding: 70px 30px;
}
.bioartiste img{
  border-radius: 100%;
  margin-bottom: 10px;
}
.titreartiste {
  text-transform: uppercase;
  font-size: 60px;
  font-family: 'Roboto';
  font-style: normal;
  margin: 0;
}

.vignetteartiste {
 width: 25%;
 float: left;
 margin-right: 100px;
}

.minibio {
  position: relative;
}

.minibio a {
  font-style : italic;
}

.textebio {
      margin-top: 170px;
}

.presenta {
  color:white;
  margin-bottom: 40px;
}

.fans{
  padding: 70px 30px;
  background-color: #EEE;
}

.fan {
    float: left;
    width: 220px;
    text-align: center;
    font-size: 14px;
    margin: 0 20px 0 0;
    display: block;
}

.fan img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}


.btn_fan{
    background-color: rgb(0,100,255);
    padding: 15px 20px;
    border-radius: 5px;
    color: #FFF;
    font-size: 36px;
    text-align: center;
    font-family: 'Milasian Thin';
    display: block;
    margin: 0 auto;

}

.commentaires{
  padding: 70px 30px;
  background-color: white;
}

.commentaires article {
  background-color: #EEE;
  width: 800px;
  margin: 30px auto;
  padding: 20px 20px;
}

.commentaires img {
  width: 100px;
  float: left;
  margin-right: 10px;
}

.commentaires textarea {
  width: 100%;
  height:100px;
}

.pseudo {
  font-weight: bold;
}

.timeComment {
  font-size: 10px;
  font-style: italic;
}

.intern_artist{
  max-width: 270px;
  background-color: #FFF;
  padding: 30px 0px;
}
 .list_artists .artist .intern_artist .logo_artist{
  border: none;
}
.list_all_artists{
  padding-top: 200px;
  background-image: url(../images/artistes/background_02.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.single_artist .slider_container{
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.list_all_artists h1{
  color: #FFF;
  text-shadow: 0px 0px 40px rgba(0, 0, 0, 1);
}
.list_all_artists h1{
  text-shadow: 0px 0px 40px rgba(0, 0, 0, 1);
}
.single_artist h2{
  font-size: 68px;
  text-align: center;
  margin: 0px;
  font-family: 'Milasian Thin';
  background-image: none !important;
  padding: 0px;
}
.single_artist .social, .single_artist .social ul{
  padding: 0px;
  min-width: 200px;
}
.single_artist .social ul li{
  width: auto;
  float: left;
  margin-right: 3px;
}
.single_artist .social ul li img{
  border-radius: 0px;
  width: auto;
}

.single_artist .slider_container{
    -moz-box-shadow: inset 0px 100px 200px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: inset 0px 100px 200px 0px rgba(0,0,0,0.6);
    -o-box-shadow: inset 0px 100px 200px 0px rgba(0,0,0,0.6);
    box-shadow: inset 0px 100px 200px 0px rgba(0,0,0,0.6);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=180, Strength=100);
}

.nbFans {
  font-family: 'Master Of Break', sans-serif;
}

.container.tracklist-view{
  width: 100% !important;
}

@media (max-width: 1279px) {
  .intern_artist{
  max-width: 94%;
  }
  .nameartiste{
    font-size: 100px;
  }
  .nameartiste.middle{
    font-size: 50px;
  }
  .nameartiste.minin{
    font-size: 40px;
  }

  .textebio {
    margin-top: 80px;
  }
}

@media (max-width: 959px) {
  .commentaires article {
    width: calc(100% - 40px);
  }

}
@media (max-width: 767px) {
    .intern_artist{
      max-width: 100%;
    }
    .list_all_artists{
      padding-top: 80px;
    }
    .fan{
      margin: 0px auto;
      display: block;
      float: none;
      padding: 20px 0px;
    }
    .single_artist .slider_container{
      min-height: 100vh;
    }
    .nameartiste{
      width: 100%;
      bottom: 0px;
      right: 0px;
      font-size: 80px;
      line-height: 100px;
      margin: 0px;
      height: 100px;
      top: auto;
    }
    .textebio{
      margin-top: 50px;
    }
    .bioartiste img{
      width: 100px;
      margin-right: 20px;
    }
    .single_artist .slider_container{
      display: none;
    }
    .single_artist .social, .single_artist .social ul{
      width: 100%;
    }
    .single_artist .social ul li img{
      margin: 0px;
    }
    .commentaires img{
      float: none;
      margin: 0px auto;
      display: block;
    }
}