.page_article .content h1{
    margin-top: 60px;
    color: white;
}
.pagination{
    color: black;
}
.page_article .list_all_articles{
    color: black !important;
    background-color: white !important;
}
.page_article .article{
    text-align: left;
    color: white;
    font-weight: bold;
    background-color: rgba(250,250,250,1);
    padding: 20px;
    cursor: pointer;
    margin: 0 auto;
}
.page_article .article h2 span{
    font-family: 'Roboto', sans-serif !important;
    font-weight: lighter;
    font-size: 20px;
}
.page_article .article h2{
    line-height: 75%;
    color: black !important;
    text-shadow: none !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: lighter;
}
.page_article .article p{
    color: black;
}
.page_article .article .commentaire{
    color: black;
}
.page_article .article .paragraphe_article{
    color: black;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Roboto', sans-serif !important;
    font-weight: lighter;
}

.page_article .inputComment{
    background-color: white;
    border: none;
    padding: 10px;
    font-family: 'Milasian Thin';
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.page_article .lescomms{
    display: none;
}
.page_article .lescomms #commentairesText{
    width: 100%;
    height: 100px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}
.page_article .afficheCommentaire .commentaire{
    margin-top: 10px;
    background-color: rgba(255,255,255,0.5);
    padding: 10px;
    border-radius: 5px;
    width: 50%;
}
.page_article .commentaire h3{
    line-height: 100%;
    margin: 5px 5px 0 0;
}
.page_article .commentaire p{
    margin: 0;
}
.page_article .afficheCommentaire{
    display: none;
}
.page_article .afficheCom{
    cursor: pointer;
    font-family: 'Roboto', sans-serif !important;
    font-weight: lighter;
}
.page_article .cacherCom{
    cursor: pointer;
    display: none;
}
.page_article .image_article img{
    width: 30%;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
}
.page_article .redacteurs{
    display: block;
    text-align: center;
}
.page_article .redacteurs p{
    display: inline-block;
    cursor: pointer;
    width: 20%;
}
.page_article .redacteurs p img{
    width: 15%;
}
.page_article .redacteurs p span{
    display: block;
}
.list_all_articles{
    background-color: white !important;
}

@media(max-width:414px){
    .page_article .events{
        padding: 0 !important;
    }
    .page_article .redacteurs p img {
        width: 100%;
    }
}