#section_contribution{
	background-image: url(../images/common/background_blur.jpg);
	padding-bottom: 100px;
}

#section_contribution p{
	background: none;
	font-size: 32px;
	margin: 0px;
	font-family: 'Milasian Thin';
}

#section_contribution .description{
	font-size: 20px;
	color: #FFF;
	margin-top: 40px;
	margin-bottom: 100px;
	font-family: 'Roboto', sans-serif;
}

#section_contribution .presentation_bloc{
	width: calc(33% - 10px);
	display: inline-block;
	float: left;
	height: 280px;
	position: relative;
	margin-right: 15px;
	background-color: #000;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-bottom: 50px;
}
#section_contribution .presentation_bloc a{
	display: block;
	height: 100%;
	width: 100%;
}

#section_contribution .presentation_bloc:last-child{
	margin-right: 0px;
}
#section_contribution .presentation_bloc:nth-child(1){
	background-image: url(../images/contribuer/bloc_bg_1.jpg);
}
#section_contribution .presentation_bloc:nth-child(2){
	background-image: url(../images/contribuer/bloc_bg_2.jpg);
}
#section_contribution .presentation_bloc:nth-child(3){
	background-image: url(../images/contribuer/bloc_bg_3.jpg);
}
#section_contribution .presentation_bloc p{
	position: absolute;
	bottom: 0px;
	background-color: rgba(255,255,255,0.1);
	padding: 10px 0px;
	width: 100%;
	text-align: center;
	color: #FFF;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}
#section_contribution .presentation_bloc:hover p{
	background-color: rgba(255,255,255,1);
	text-shadow: none;
	color: #000;
}

.contribuer_bloc{
	margin-top: 50px;
}
.contribuer_bloc h2{
	width: 100%;
	text-align: center;
	margin: 0px;
	padding: 10px 0px;
	background: none;
	background-color: rgba(15,15,15,0.7);
	color: #FFF;
}

.contribuer_bloc .form_container{
	width: calc(100% - 80px);
	padding: 40px;
	background-color: rgba(15,15,15,1);
}

.contribuer_bloc form input,
.contribuer_bloc form select,
.contribuer_bloc form textarea
{
	border: 1px solid #000;
	-webkit-appearance: none;
	appearance: none;
	width: calc(100% - 20px);
	margin-bottom: 20px;
	font-size: 14px;
	color: #FFF;
	background-color: rgb(30,30,30);
	padding: 10px;
	line-height: 22px;
	border-radius: 0px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: lighter;
	font-family: 'Roboto', sans-serif;
}

.contribuer_bloc form input.error,
.contribuer_bloc form select.error,
.contribuer_bloc form textarea.error{
	border-color: #70121D;
}

.contribuer_bloc form select{
	width: 100%;
	background-image: url(../images/common/arrow_down.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-position: right 10px center;
	background-size:  auto 30px;
	cursor: pointer;
}
.contribuer_bloc form textarea{
	min-height: 100px;
}

.contribuer_bloc .autocomplete_input{
	margin-bottom: 0px;
}

.contribuer_bloc .autcomplete_list_element{
	background-color: #000;
	color: #888;
	padding: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: lighter;
	cursor: pointer;
}
.contribuer_bloc .autcomplete_list_element:hover{
	background-color: rgb(25,25,25);
}
.autocomplete_valid_span{
	padding: 5px 8px;
	display: inline-block;
	background-color: rgb(25,25,25);
	color: #FFF;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: lighter;
	border: 1px solid #000;
	border-bottom: none;
	cursor: pointer;
}
.autocomplete_valid_span:hover{
	background-color: rgb(35,35,35);
}
.autocomplete{
	margin-bottom: 20px;
}
.contribuer_bloc form input.submit{
	width: 120px;
	height: 120px;
	border: none;
	border-radius: 100%;
	margin: 0 auto;
	display: block;
	cursor: pointer;
	background-color: #000;
	transition: 1.4s;
}
.contribuer_bloc form input.submit:hover{
	background-color: #555;
}

pre{
	background-color: rgba(255,255,255,0.6);
	padding: 10px;
}
#section_contribution p.error_para{
	color: #FFF;
	letter-spacing: 1px;
    font-size: 16px;
    padding: 10px 0px;
    font-family: 'Roboto', sans-serif;
	background-color: #470B13;
	width: 100%;
	text-align: center;
}

@media (max-width: 1023px) {
	#section_contribution .presentation_bloc{
		height: 120px;
	}
}

@media (max-width: 768px) {
	#section_contribution .presentation_bloc{
		background:none !important;
		margin: 0px;
		display: block;
		width: 100%;
		margin-bottom: 10px;
		height: 52px;
	}
	#section_contribution .presentation_bloc p{
		background-color: rgba(255,255,255,0.9);
	}
	#section_contribution .presentation_bloc p a{
		color: #000;
		text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
	}
}