
.subscribtion{
    width: 100%;
}

#overlay{
    cursor: pointer;
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 9999;
    top: 0;
    left: 0;
}
.popin{
    max-height: 100vh;
    overflow-y: scroll;
    width: 50%;
    top: 0px;
    left: -25%;
    background-color: rgba(255,255,255,0.8);
    position: fixed;
    margin:0 auto;
    z-index: -1;
    display: block;
    opacity: 0;
    height: auto !important;
    transition: left ease-in 0.3s;
    padding: 20px;
}
.popin.hide{
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    transition: left ease-in 0.3s;
    z-index: 10000;
}

.popin::-webkit-scrollbar{
    width: 0px !important;
}
.popin::-moz-scrollbar{
    width: 0px !important;
}
.popin::-o-scrollbar{
    width: 0px !important;
}
.popin form{
    margin-top: 60px;
}

.popin h2{
    background-image: none;
    text-align: center;

}
.popin p{
    text-align: center;
}
.popin span{
    text-align: center;

    font-size: xx-large;
}
.popin input{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: larger;
    border: none;
    font-family: 'Roboto', sans-serif !important;
    font-weight: lighter;
    height: 50px;
    width: 70%;


}
.popin [placeholder]:focus::-webkit-input-placeholder{
    transition: opacity 0.5s 0.5s ease; 
    opacity: 0;


}
.popin label{
    display: none;
    color: red;
}
.popin#subscribe input{
    border: none;
    display: block;
    margin: 0 auto;
    height: 40px;


}
.popin input[type=submit] {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    background: transparent;
    border: none;
    color:white; background:rgba(0,100,255,1);
    -o-transition:color .2s ease-out, background 1s ease-in;
    -ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    /* ...and now override with proper CSS property */
    transition:color .2s ease-out, background 1s ease-in;
}
.popin input[type=submit]:hover { 
    color:black; 
    background:white; 
}

.closePopin{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/*.popin input{
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 70%;
    margin: 10px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: lighter;
}*/

@media (max-width: 767px) {
    .popin{
        width: calc(100% - 40px);
        height: calc(100vh - 40px) !important;
        left: 0px !important;
    }
    .popin{
        background-color: #FFF;
    }
    .popin input[type="text"],
    .popin input[type="email"],
    .popin input[type="password"],
    .popin input[type="date"]{
        border: 1px solid #DDD !important;
        width: calc(100% - 40px) !important;
    }
    .popin.hide{
        transform: none;
    }
}
