
.artiste{
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #DDD;
  background-attachment: fixed;
}

#page_soirees .list_artists .events{
    background-color:transparent;
}

#page_soirees .list_artists .events h2 {
    color: #FFF !important;
        background-image: url(../images/common/logo2.png);
}


 .list_artists .artist .intern_artist .logo_artist{
  border: none;
}
#page_soirees.list_all_artists{
  padding-top: 200px;
  background-image: url(../images/events/soiree.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.single_artist .slider_container{
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.list_all_artists h1{
  color: #FFF;
  text-shadow: 0px 0px 40px rgba(0, 0, 0, 1);
}
.list_all_artists h1, #page_soirees h1, #page_soirees h2{
  text-shadow: 0px 0px 40px rgba(0, 0, 0, 1);
}
#page_festivals h1, #page_festivals h2{
  text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
}
.single_artist h2{
  font-size: 68px;
  text-align: center;
  margin: 0px;
  font-family: 'Milasian Thin';
  background-image: none !important;
  padding: 0px;
}
.single_artist .social, .single_artist .social ul{
  padding: 0px;
  min-width: 200px;
}
.single_artist .social ul li{
  width: auto;
  float: left;
  margin-right: 3px;
}
.single_artist .social ul li img{
  border-radius: 0px;
  width: auto;
}

.single_artist .slider_container{
    -moz-box-shadow: inset 0px 100px 200px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: inset 0px 100px 200px 0px rgba(0,0,0,0.6);
    -o-box-shadow: inset 0px 100px 200px 0px rgba(0,0,0,0.6);
    box-shadow: inset 0px 100px 200px 0px rgba(0,0,0,0.6);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=180, Strength=100);
}

@media (max-width: 1279px) {
  .intern_artist{
  max-width: 94%;
  }
  .nameartiste{
    font-size: 100px;
  }
  .nameartiste.middle{
    font-size: 50px;
  }
  .nameartiste.minin{
    font-size: 40px;
  }
}

@media (max-width: 959px) {
  .commentaires article {
    width: calc(100% - 40px);
  }

}
@media (max-width: 767px) {
    .intern_artist{
      max-width: 100%;
    }
    .list_all_artists{
      padding-top: 80px;
    }
    .fan{
      margin: 0px auto;
      display: block;
      float: none;
      padding: 20px 0px;
    }
    .single_artist .slider_container{
      min-height: 100vh;
    }
    .nameartiste{
      width: 100%;
      bottom: 0px;
      right: 0px;
      font-size: 80px;
      line-height: 100px;
      margin: 0px;
      height: 100px;
      top: auto;
    }
    .textebio{
      margin-top: 50px;
    }
    .bioartiste img{
      width: 100px;
      margin-right: 20px;
    }
    .single_artist .slider_container{
      display: none;
    }
    .single_artist .social, .single_artist .social ul{
      width: 100%;
    }
    .single_artist .social ul li img{
      margin: 0px;
    }
    .commentaires img{
      float: none;
      margin: 0px auto;
      display: block;
    }
}