html, body {
	padding: 0px;
	margin: 0px;
	background-color: #EEE;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
}

.single_artist .slider_container,
#page_festivals,
#page_soirees,
#page_concerts,
.list_all_artists
{
	background-color: #000;
    -moz-box-shadow: inset 0px 100px 200px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: inset 0px 100px 200px 0px rgba(0,0,0,0.6);
    -o-box-shadow: inset 0px 100px 200px 0px rgba(0,0,0,0.6);
    box-shadow: inset 0px 100px 200px 0px rgba(0,0,0,0.6);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=180, Strength=100);
}
header nav ul li a{
	font-size: 20px;
}
header nav ul li{
	margin-right: 20px !important;
}

.account a{
	font-size: 16px;
}
.header_profile{
	width: 35px;
	height: 35px;
	display: inline-block;
	overflow: hidden;
	margin-right: 5px;
	position: relative;
	vertical-align: middle;
}
.header_profile img{
	width: 100%;
	vertical-align: top;
	border-radius: 100%;
	position: absolute;
}

.iframe_container{
	margin-top: 60px;
}

a{
	color: inherit;
	text-decoration: none;
}
.mob_menu{
	display: none;
}
h1, h2{
	color: #FFF;
	font-family: 'Milasian Thin';
	color: #222;
	font-size: 52px;
	margin: 0px;
}
h1{
	font-size: 68px;
	text-align: center;
}
ul{
	padding: 0px;
	margin: 0px;
}
li{
	list-style: none;
	display: inline-block;
}
h2{
	padding-left: 40px;
	background-image: url(../images/common/logo1.png);
	background-size: auto 40px;
	background-position: top 5px left;
	background-repeat: no-repeat;
}
body{
	background-image: url(../images/common/background.jpg);
	background-size: 100% auto;
	background-position: top center;
	background-repeat: no-repeat;
	background-color: #DDD;
	background-attachment: fixed;

}
header{
	color: #FFF;
	padding: 10px;
	position: fixed;
	width: 100%;
	transition: all ease-in 0.3s;
	z-index: 9998;
}
.password{
	-webkit-text-security: disc;
	font-size: 32px;
	line-height: 12px;
	letter-spacing: 2px;
}
header.scroll{
	background-color: rgba(0,0,0,0.9);
	transition: all ease-in 0.3s;
}
.content{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
header .account{
	display: inline-block;
	float: right;
	line-height: 80px;
	font-size: 20px;
	padding-right: 10px;
	transition: all ease-in 0.3s;
	position: absolute;
	right: 0px;
}
header .account{
	vertical-align: top;
}
header .logo{
	display: inline-block;
	width: 220px;
	transition: all ease-in 0.3s;
}
header .logo img{
	width: 200px;
	transition: all ease-in 0.3s;
}
header .logo p{
	text-align: right;
	margin: 0px;
	font-size: 14px;
	font-style: italic;
	margin-top: 10px;
	transition: all ease-in 0.3s;
}
header .logo img, header .logo p{
	display: block;
}
header nav{
	display: inline-block;
	vertical-align: top;
	margin-left: 30px;
}
header nav ul{
	padding: 0px;
	margin: 0px;
}
header nav ul li{
	list-style: none;
	display: inline-block;
	line-height: 80px;
	font-size: 28px;
	margin-right: 30px;
	transition: all ease-in 0.3s;
	text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
header.scroll .account{
	line-height: 73px;
	transition: all ease-in 0.3s;
}
header.scroll .logo{
	width: 130px;
	transition: all ease-in 0.3s;
}
header.scroll .logo img{
	width: 130px;
	transition: all ease-in 0.3s;
}
header.scroll .logo p{
	margin-top: 5px;
	transition: all ease-in 0.3s;
}
header.scroll nav ul li{
	line-height: 73px;
	font-size: 22px;
}
header nav ul li:hover .sous_menu{
	height: auto;
}
.sous_menu{
	position: absolute;
	background-color: rgba(255,255,255,0.9);
	padding: 0px;
	margin-top: -15px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
	height: 0px;
}
.sous_menu li{
	display: block;
	margin: 0px;
	line-height: 38px !important;
	font-size: 22px !important;
}
.sous_menu li a{
	color: #000;
	width: 100%;
	height: 100%;
	padding: 0px 10px;
	display: block;
	text-shadow: 0px 0px 0px transparent;
}
.sous_menu li a:hover{
	background-color: rgba(255,255,255,1);
}
.slider_container{
	min-height: 100vh;
	position: relative;
}
.events{
	padding: 50px 0px;
	background-color: #DDD;
}
.events.black{
	background-color: #000;
}
.events.grey{
	background-color: rgb(145,140,145);
}
.list_events, .list_artists{
	width: 100%;
	margin-top: 20px;
}
.list_events .event, .list_artists .artist{
	float: left;
	width: 380px;
	margin-right: 0px;
	overflow: hidden;
	padding-bottom: 20px;
	background-color: #FFF;
	margin-bottom: 20px;
	z-index: 1;
}
.list_artists .artist{
	width: 25%;
	background-color: transparent;
}
.list_artists#list_admins .artist{
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.homepage_events h1{
	color: #000 !important;
}
.list_events .event:nth-child(1),
.list_events .event:nth-child(2),
.list_events .event:nth-child(4),
.list_events .event:nth-child(5),
.list_events .event:nth-child(7),
.list_events .event:nth-child(8){
	margin-right: 30px !important;
}
.list_events .event .top{
	height: 230px;
	min-width: 100%;
}
.list_events .event .logo_event{
	height: 250px;
	width: 100px;
	height: 100px;
	position: absolute;
	border-radius: 100%;
	overflow: hidden;
	margin-left: 133px;
	margin-top: 180px;
}
.list_events .event .logo_event img{
	width: 100%;
	background-color: #FFF;
}
.list_events .event h3, .list_events .event p, .list_artists .artist h3{
	font-weight: lighter;
	text-align: center;
	margin: 0px;
}
.list_events .event h3, .list_artists .artist h3{
	padding-top: 60px;
	text-transform: uppercase;
	font-size: 22px;
	padding-bottom: 5px;
}
.list_artists .artist h3{
	padding-top: 20px;
	min-height: 60px;
}
.call_to{
	display: block;
	margin: 0 auto;
	width: 100px;
	background-color: rgb(0,100,255);
	padding: 6px 10px;
	color: #FFF;
	font-size: 26px;
	text-align: center;
	font-family: 'Milasian Thin';
	margin-top: 20px;
}
.call_to:hover{
	background-color: rgb(0,10,80);
}
.lineclear{
	clear: both;
	display: block;
	width: 100%;
}
.events.black h2{
	color: #FFF;
	background-image: url(../images/common/logo2.png);
}
.line_container{
	width: 100%;
	background-color: #FFF;
}
.line{
	width: 800px;
	max-width: 100%;
	border-top: 1px solid #666;
	display: block;
	margin: 0 auto;
}

.list_artists .artist .logo_artist{
	width: 200px;
	height: 200px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 100%;
}
.list_artists .artist .logo_artist img{
	width: 100%;
}
.list_artists .artist .call_to{
	width: 160px;
}

.events.artists{
	background-color: #FFF;
}

.pagination{
	float: right;
	margin: 10px 0px;
    color: #FFF;
}
.pagination span{
	display: inline-block;
	vertical-align: top;
}
.pagination span:first-child{
	line-height: 30px;
	padding-right: 20px;
}
.pagination .link{
	background-color: rgba(255, 255, 255, 0.1);
	height: 30px;
	width: 30px;
	margin-left: 15px;
	background-image: url(../images/common/arrow_left.png);
	background-size: 22px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.pagination .link:hover{
	background-color: rgba(255,255,255,0.2);
}
.pagination .link.next{
	background-image: url(../images/common/arrow_right.png);
}


footer{
	background-color: #FFF;
	font-size: 18px;
	z-index: 9998;
}footer .content{
	padding: 40px 0px;
}
footer p.title{
	font-size: 20px;
	text-transform: uppercase;
	line-height: 20px;
	font-weight: 600;
	color: #555;
}
footer .contact, .social{
	display: inline-block;
	padding-right: 40px;
	vertical-align: top;
}
.social ul{
	width: 150px;
}
footer .black_logo{
	display: inline-block;
	float: right;
	width: 420px;
}
.home_space{
	padding-top: 150px;
}
.slider_container .home_slider .slide{
	width: 1200px;
	height: 480px;
	overflow: hidden;
}
.slider_container .home_slider{
	padding-top: 160px;
	margin: 0 auto;
	width: 1200px;
	overflow: hidden;
}
.slider_container .home_slider .slide{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	opacity: 0;
	transition: opacity ease-in 0.5s;
	position: absolute;
}
.slider_container .home_slider .slide a{
	width: 100%;
	height: 100%;
}
.slider_container .home_slider .slide p{
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
	color: #FFF;
	text-align: right;
	padding-right: 30px;
	margin: 0px;
	font-size: 52px;
	line-height: 50px;
	position: absolute;
	right: 0px;
	bottom: 70px;
}
.slider_container .home_slider .slide p:last-child{
	font-style: italic;
	font-size: 24px;
	padding-bottom: 20px;
	bottom: 0px;
}
.slider_container .home_slider .slide.current{
	opacity: 1;
	transition: opacity ease-in 0.5s;
}
.slider_container .home_slider .long_container{
	height: 480px;
	width: 1200px;
	margin-bottom: 20px;
	background-color: #000;
	overflow: hidden;
}
.counting{
	width: 100%;
	text-align: center;
	height: 20px;
	padding-bottom: 20px;
}
.counting .point{
	width: 12px;
	height: 12px;
	border-radius: 100%;
	background-color: rgba(255,255,255,0.3);
	display: inline-block;
	margin-right: 15px;
	transition: background ease-in 0.2s;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50,50,50, 0.2);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50,50,50, 0.2);
	box-shadow:         0px 0px 10px 0px rgba(50,50,50, 0.2);
	cursor: pointer;
	z-index: 2000;
}
.counting .point:hover{
	background-color: rgba(255,255,255,0.6);
	transition: background ease-in 0.2s;
}
.counting .point.current{
	background-color: rgba(255,255,255,0.8);
}
.arrows .left, .arrows .right{
	background-color: rgba(0,0,0,0.8);
	background-image: url(../images/common/arrow_left.png);
	width: 70px;
	height: 70px;
	background-position: center;
	background-size: 40px auto;
	background-repeat: no-repeat;
	position: absolute;
	top: 380px;
	left: 0px;
	cursor: pointer;
}
.arrows .left:hover, .arrows .right:hover{
	background-color: rgba(0,0,0,0.9);
}
.arrows .right{
	background-image: url(../images/common/arrow_right.png);
	left: auto;
	right: 0px;
}
.call_to.long{
	width: 200px;
}
.call_to.see_more{
	width: 300px;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	background-color: #000;
	line-height: 30px;
}
.call_to.see_more:hover{
	background-color: #333;
}
.call_to.see_more.white{
	background-color: #FFF;
	color: #000;
}
.call_to.see_more.white:hover{
	background-color: #CCC;
}



@media (max-width: 1310px) {
	.slider_container .home_slider .long_container,
	.slider_container .home_slider,
	.slider_container .home_slider .long_container,
	.slider_container .home_slider .slide{
		max-width: 960px;
		height: 384px;
	}
	.arrows .left, .arrows .right{
		top: 330px;
	}
	.slider_container .home_slider{
		height: auto;
	}
}
@media (max-width: 1279px) {
	.content{
		width: 960px;
	}
	.list_events .event{
		width: 300px;
	}
	.list_events .event .top{
		height: 240px !important;
	}
	.list_events .event .logo_event{
		margin-left: 133px;
		margin-top: 188px;
	}
	.list_artists .artist h3{
		font-size: 20px;
	}
	header nav ul li a{
		font-size: 20px;
	}
}



@media (max-width: 1080px) {
	.slider_container .home_slider .long_container,
	.slider_container .home_slider,
	.slider_container .home_slider .long_container,
	.slider_container .home_slider .slide{
		max-width: 720px;
		height: 288px;
	}
	.arrows .left, .arrows .right{
		top: 290px;
	}
	.slider_container .home_slider{
		height: auto;
	}
}
@media (max-width: 1023px) {
	.content{
		width: 728px;
	}
	body{
		background-size: cover;
	}
	header nav{
		margin-left: 0px;
	}
	header nav ul li{
		font-size: 20px;
		margin-right: 15px;
	}
	header .account{
		font-size: 20px;
	}
	header.scroll nav ul li, header.scroll .account{
		font-size: 18px;
		line-height: 50px;
	}
	header.scroll .logo p{
		height: 0px;
		overflow: hidden;
	}
	header.scroll .logo{
		width: 140px;
	}
	header{
		padding: 5px 0px;
	}
	header.scroll{
		padding-bottom: 0px;
	}
	.list_events .event{
		width: 229px;
	}
	.list_events .event .top{
		height: 150px;
	}
	.list_events .event .logo_event{
		margin-left: 150px;
		margin-top: 210px;
		width: 60px;
		height: 60px;
	}
	.list_events .event h3, .list_artists .artist h3{
		font-size: 16px;
		padding-top: 35px;
	}
	.list_events .event p, .list_artists .artist p{
		font-size: 14px;
	}
	.list_events .event:nth-child(1),
	.list_events .event:nth-child(2),
	.list_events .event:nth-child(4),
	.list_events .event:nth-child(5),
	.list_events .event:nth-child(7),
	.list_events .event:nth-child(8){
		margin-right: 20px !important;
	}
	.list_artists .artist .logo_artist{
		width: 150px;
		height: 150px;
	}
	.list_artists .artist .call_to{
		width: 100px;
	}
	footer .black_logo{
		width: 288px;
		margin-top: 20px;
	}

	header{
		background-color: rgba(0,0,0,0.9);
	}
	header.mobile .content{
		width: 100%;
	}
	header .logo img{
		width: 100px;
		padding-left: 10px;
		display: inline-block;
		float: left;
	}
	header .logo{
		width: 90%;
	}
	header .logo p{
		float: left;
		padding-left: 20px;
	}
	header nav, header .account{
		display: none;
	}
	.mob_menu{
		display: inline-block;
		top: 0px;
		right: 0px;
		float: right;
		width: 10%;
	}
	.mob_menu .button{
		width: 100%;
		height: 30px;
		text-align: right;
		cursor: pointer;
	}
	.mob_menu .button img{
		padding-top: 5px;
		padding-right: 10px;
		width: 30px;
	}
	.mob_menu  ul{
		height: 0px;
		padding: 0px;
		overflow: hidden;
		position: fixed;
		top: 50px;
		width: 100%;
		right: 0px;
		text-align: right;
		background-color: rgba(20,20,20,0.9);
		opacity: 0;
		transition: opacity ease-in 0.2s;
	}
	.mob_menu  ul.open{
		padding: 20px 0px;
		height: calc(100vh - 50px);
		opacity: 1;
		transition: opacity ease-in 0.2s;
	}
	.mob_menu  ul li{
		display: block;
		line-height: 30px;
		text-transform: uppercase;
		padding-right: 10px;
		letter-spacing: 1px;
		margin-bottom: 10px;
	}
	.mob_menu  ul li.mob_account{
		font-weight: 600;
	}
	header .content{
		width: 100% !important;
	}
}
@media (width: 768px){
	.slider_container{
		min-height: 0px !important;
	}
	.arrows .left{
		left: 0px !important;
		width: 25px;
		height: 25px;
	}
	.arrows .right{
		right: 0px !important;
		width: 25px;
		height: 25px;
	}
}
@media (max-width: 767px) {
	.slider_container .home_slider .long_container,
	.slider_container .home_slider,
	.slider_container .home_slider .long_container,
	.slider_container .home_slider .slide{
		max-width: 100%;
		height: 40vw;
	}
	.arrows .left, .arrows .right{
		top: calc(40vw + 50px);
		height: 50px;
		background-color: transparent;
	}
	.slider_container .home_slider{
		padding-top: 50px;
		padding-bottom: 50px;
		background-color: rgba(0,0,0,0.8);
	}
	.slider_container{
		min-height: 1px;
	}
	.slider_container .home_slider .slide p{
		font-size: 32px;
		line-height: 30px;
		bottom: 50px;
	}
	.slider_container .home_slider .slide p:last-child{
		font-size: 18px;
		line-height: 22px;
	}
}
@media (max-width: 767px) {
	.content{
		width: 100%;
	}
	h2{
		margin-left: 10px;
	}
	.list_events .event{
		width: 290px;
		display: block;
		margin-right: 0px !important;
		margin: 0 auto !important;
		float: inherit;
		margin-bottom: 25px !important;
	}
	.list_events .event:nth-child(1),
	.list_events .event:nth-child(2),
	.list_events .event:nth-child(4),
	.list_events .event:nth-child(5),
	.list_events .event:nth-child(7),
	.list_events .event:nth-child(8){
		margin-right: 0px !important;
		margin: 0 auto !important;
		margin-bottom: 25px !important;
	}
	.list_events .event .top{
		height: 170px;
	}
	.list_events .event .logo_event{
		width: 80px;
		height: 80px;
		margin-left: 140px;
		margin-top: 200px;
	}
	.list_events .event h3, .list_artists .artist h3{
		padding-top: 55px;
	}
	h1{
		margin: 0 auto;
		line-height: 40px;
		font-size: 56px;
		margin-bottom: 20px;
		width: 95%;
	}
	h2{
		font-size: 38px;
		background-size: auto 26px;
		padding-left: 30px;
	}
	.list_artists .artist{
		float: none;
		width: 290px;
		display: block;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.list_artists .artist h3{
		padding-top: 20px;
	}
	.list_artists .artist .call_to{
		width: 160px;
	}
	footer .contact, .social, footer .black_logo{
		width: 200px;
		margin: 0px auto;
		display: block;
		margin-bottom: 15px;
		float: none;
		padding: 0px;
	}
	footer .black_logo{
		max-width: 200px;
		float: none;
		text-align: center;
		margin: 0 auto;
	}
}
@media (max-width: 320px) {
}

.error_404 .nameartiste{
	bottom: auto !important;
	top: 30%;
	width: 100%;
}
.error_404 .nameartiste span{
	font-size: 42px;
}

/* FILTERS  */
.filters{
	background-color: rgba(0,0,0,0.9);
	color: #FFF;
	padding: 20px 0px;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 40px;
}
.filters form{
	margin: 0px;
}
.filters form#filter_form_artistes{
	/*width: 810px;*/
	margin: 0 auto;
	padding-left: 20px;
}
.filters select{
	background-color: rgb(10,10,10);
	border: 1px solid #222;
	color: #FFF;
	padding: 8px 16px;
	line-height: 20px;
	margin-right: 20px;
	-webkit-appearance: none;
	appearance: none;
	padding-right: 36px;
	background-image: url(../images/common/select_arrow_down.png);
	background-repeat: no-repeat;
	background-position: right 8px center;
	border-radius: 0px;
}
.filters label{
	font-family: 'Milasian Thin';
	font-size: 22px;
	margin-right: 10px;
}
.filters .text{
	background-color: rgb(10,10,10);
	border: 1px solid #222;
	color: #FFF;
	padding: 8px 16px;
	line-height: 20px;
	margin-right: 20px;
	-webkit-appearance: none;
	appearance: none;
	padding-right: 36px;
}
.filters .submit{
	background-color: rgba(35,35,35,0);
	border: none;
	color: #FFF;
	line-height: 20px;
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
}
.filters .submit:hover{
	text-decoration: underline;
}
.seacrh_subtitle{
	font-family: 'Milasian Thin';
	text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
	font-size: 46px;
	color: #DDD;
	text-align: center;
	margin: 0px;
}

/* FOOTER MENU */
#footer_container{
	width: 100%;
	padding: 0px;
	background-color: #DDD;
	text-align: center;
}
#footer_container li a{
	padding: 0px 15px;
	font-size: 14px;
	text-transform: uppercase;
	color: #222;
	display: inline-block;
	line-height: 50px;
	border-bottom: 2px solid #DDD;
}
#footer_container li a:hover{
	background-color: #EEE;
	border-bottom: 2px solid #666;
}
form.element input[type="submit"]{
  text-align: center;
  display: block;
  margin: 40px auto;
  -moz-box-shadow: inset 0px 10px 20px 0px rgba(30,30,30,0.5);
  -webkit-box-shadow: inset 0px 10px 20px 0px rgba(30,30,30,0.5);
  -o-box-shadow: inset 0px 10px 20px 0px rgba(30,30,30,0.5);
  box-shadow: inset 0px 10px 20px 0px rgba(30,30,30,0.5);
  filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(30,30,30,0.5), Direction=180, Strength=20);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 28px;
  padding: 13px 40px;
  background-color: rgb(50,50,50);
  color: #FFF;
  text-transform: uppercase;
  font-size: 18px;
  cursor: pointer;
}

/* FOOTER MENU */
#footer_container{
	width: 100%;
	padding: 0px;
	background-color: #DDD;
	text-align: center;
}
#footer_container li a{
	padding: 0px 15px;
	font-size: 14px;
	text-transform: uppercase;
	color: #222;
	display: inline-block;
	line-height: 50px;
	border-bottom: 2px solid #DDD;
}
#footer_container li a:hover{
	background-color: #EEE;
	border-bottom: 2px solid #666;
}

form.element input[type="submit"]{
  text-align: center;
  display: block;
  margin: 40px auto;
  -moz-box-shadow: inset 0px 10px 20px 0px rgba(30,30,30,0.5);
  -webkit-box-shadow: inset 0px 10px 20px 0px rgba(30,30,30,0.5);
  -o-box-shadow: inset 0px 10px 20px 0px rgba(30,30,30,0.5);
  box-shadow: inset 0px 10px 20px 0px rgba(30,30,30,0.5);
  filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(30,30,30,0.5), Direction=180, Strength=20);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 28px;
  padding: 13px 40px;
  background-color: rgb(50,50,50);
  color: #FFF;
  text-transform: uppercase;
  font-size: 18px;
  cursor: pointer;
}

.mentions {
  padding: 100px;
  background-color: rgba(250,250,250,0.5);
}

.mentions h1 {
  color: black;
}

#cookiebar{
	position: fixed;
	bottom: 0px;
	width: calc(100% - 115px);
	background-color: #222;
	color: #FFF;
	font-size: 12px;
	padding: 15px;
	padding-right: 100px;
}

#cookiebar p{
	margin: 0px;
	padding: 0px;
}
#cookiebar .close{
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 6px 10px;
	border: 1px solid #FFF;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 10px;
}
#cookiebar .close:hover{
	color: #000;
	background-color: #FFF;
}
@media (max-width: 767px){
	#cookiebar .close{
		position: relative;
		width: auto;
		top: auto;
		right: auto;
		display: inline-block;
		margin-top: 10px;
	}
}

.list_all_users #list_admins,
.list_all_users #list_users{
	background-color: #EEE;
	padding: 20px;
	width: calc(100% - 40px);
}
.list_all_users h2{
	padding-bottom: 20px;
}
.list_all_users #list_admins{
	margin-bottom: 40px;
}
.list_all_users #list_users{
	background-color: rgba(20,20,20,0.4);
}
.list_all_users #list_users h2{
	color: #FFF;
	background-image: url(../images/common/logo2.png);
	text-shadow: 0px 0px 40px rgba(0, 0, 0, 1);
}

@media (max-width: 767px){
	.list_events .event,
	.list_events li{
		width: 100% !important;
	}
	.list_events .event .logo_event{
		margin-left: calc(50% - 40px);
	}
	.call_to.see_more{
		width: 260px;
	}

}
