.full_black{
	padding: 40px;
	background-color: #000;
	width: calc(100% - 80px);
	min-height: 200px;
}

.full_black ul{
	padding: 0px;
	margin: 0px;
}
.full_black ul li{
	list-style: none;
	display: block;
	width: 100%;
}
.full_black ul li a{
	width: 100%;
	display: block;
	padding-left: 10px;
	line-height: 42px;
	font-size: 26px;
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.full_black ul li a:hover{
	background-color: #111;
}

.single_user_account{
	/*background-image: url(../images/common/black_background.jpg);*/
	background-attachment: fixed;
	min-height: calc(100vh - 140px);
  	padding-top: 140px;
  	padding-bottom: 30px;
  	color: #FFF;
}

.user_menu{
	width: 240px;
	background-color: #000;
	float: left;
	z-index: 1;
	position: relative;
	transition: margin ease-in 0.3s;
}
.user_menu.scroll{
	margin-top: -22px;
	transition: margin ease-in 0.3s;
}
.user_menu .infos{
	width: calc(100% - 40px);
	padding: 20px;
}
.user_menu .img{
	width: 160px;
	margin: 0 auto;
}
.img{
	text-align: center;
}
.img img{
	width: auto;
	max-width: 100%;
}
.user_menu .infos .img img{
	border-radius: 100%;
}

.user_menu h1{
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	color: #FFF;
	font-size: 26px;
	line-height: 32px;
	padding: 14px 0px;
}

.user_menu .infos p, .user_data p{
	color: #DDD;
	margin: 0px;
	line-height: 28px;
}

.user_data{
	width: calc(100% - 300px);
	float: right;
	background-color: #000;
	padding: 20px;
	margin-bottom: 20px;
}

.user_data h2{
	color: #FFF;
	background-image: url(../images/common/logo2.png);
	font-size: 38px;
	background-size: auto 26px;
	padding-left: 30px;
	font-weight: lighter;
	padding-bottom: 20px;
}
.user_data h2 span{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 22px;
	letter-spacing: 1px;
}

.single_user_account form label{
	width: 300px;
	display: inline-block;
	margin-bottom: 5px;
}

.listing{
	padding: 0px;
	margin: 0px;
}
.listing li{
	display: block;
	list-style: none;
	width: 100%;
	border-bottom: 1px solid #000;
}
.listing li:last-child{
	border: none;
}
.listing li a{
	background-color: rgba(10,10,10,1);
	display: block;
	width: calc(100% - 20px);
	line-height: 46px;
	padding-left: 20px;
	color: #777;
}
.listing li a:hover{
	background-color: rgba(20,20,20,1);
}

.single_user_account .list_events .event{
		width: 280px;
		float: left;
		margin-bottom: 25px !important;
		color: #000;
}
.single_user_account .list_events .event p{
		color: #000;
}
.single_user_account .list_events .event:nth-child(1), .list_events .event:nth-child(2){
	margin-bottom: 25px !important;
}
.single_user_account .list_events .event .top{
	height: 170px;
}
.single_user_account .list_events .event .logo_event{
	width: 80px;
	height: 80px;
	margin-left: 100px;
	margin-top: 130px;
}

.change_picture{
	position: absolute;
	width: calc(100% - 80px);
	text-align: center;
	background-color: rgba(255,255,255,0.8);
	border-radius: 100%;
	height: 160px;
	opacity: 0;
	transition: opacity ease-in 0.2s;
}
.change_picture img{
	width: 50px;
	margin-top: 55px;
	cursor: pointer;
}

.user_menu .img:hover .change_picture{
	opacity: 1;
	transition: opacity ease-in 0.2s;
}

.mini_bio{
  font-size: 15px;
  text-align: center;
}

.mini_bio{
  font-size: 15px;
  text-align: center;
}

.delete, #errorModify {
  color:red;
}

.avatarDisplay {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
.avatarDisplay img {
  width: 300px;
}

.avatarDisplay p {
  font-size: 20px;
  margin-bottom: 10px;
}

@media (max-width: 1279px) {
	.single_user_account .list_events{
		padding-left: 35px;
	}
	.single_user_account .list_artists .artist{
		width: 50%;
	}
}
@media (max-width: 1023px) {
	.single_user_account .list_events .event{
		margin-right: 0px !important;
	}
	.single_user_account .list_events{
		padding: 0px;
		width: 280px;
		margin: 0 auto;
	}
}
@media (max-width: 767px) {
	.single_user_account{
		padding-top: 70px;
	}
	.user_menu{
		position: relative;
		margin-bottom: 20px;
	}
	.user_menu, .user_data{
		width: 280px;
		display: block;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.user_data{
		width: 280px;
	}
	.single_user_account .list_artists .artist{
		width: 100%;
	}
	.change_picture{
		width: 50px;
		height: 50px;
		opacity: 1;
		background-color: transparent;
		margin-left: 10px;
		margin-top: 10px;
	}
	.change_picture img{
		margin: 0px;
	}
}



.lineclear{
  clear: both;
  display: block;
  width: 100%;
}

form.element{
  width: calc(100% - 40px);
  padding: 20px;
}
form.element input{
  display: inline-block;
  vertical-align: top;
  border: none;
}

form.element label{
  display: inline-block;
  width: 350px;
  vertical-align: top;
  margin-bottom: 20px;
}
form.element input[type="text"],
form.element input[type="password"],
form.element input[type="email"],
form.element input[type="date"],
ul.listing_artistes{
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: lighter;
  width: calc(100% - 420px);
  padding: 10px;
  color: #DDD;
  background-color: rgb(20,20,20);
}
form.element .thumbnail{
  width: 100px;
}
form.element img.cover{
  width: auto;
  max-width: calc(100% - 420px);
  margin-top: 10px;
}
form.element input.cover{
  margin-left: 400px;
  margin-top: 10px;
}
form.element textarea{
  width: calc(100% - 20px);
  max-width: calc(100% - 20px);
  margin-top: 10px;
  min-height: 250px;
  background-color: rgb(20,20,20);
  padding: 20px;
  color: #FFF;
  border: none;
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 20px;
}
form.element input[type="submit"]{
  text-align: center;
  display: block;
  margin: 40px auto;
  -moz-box-shadow: inset 0px 10px 20px 0px rgba(30,30,30,0.5);
  -webkit-box-shadow: inset 0px 10px 20px 0px rgba(30,30,30,0.5);
  -o-box-shadow: inset 0px 10px 20px 0px rgba(30,30,30,0.5);
  box-shadow: inset 0px 10px 20px 0px rgba(30,30,30,0.5);
  filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(30,30,30,0.5), Direction=180, Strength=20);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 28px;
  padding: 13px 40px;
  background-color: rgb(50,50,50);
  color: #FFF;
  text-transform: uppercase;
  font-size: 18px;
  cursor: pointer;
}
